@charset "UTF-8";

// fonts
@import url("https://fonts.googleapis.com/css2?family=Baloo+Chettan+2:wght@400;500;700&display=swap");
@font-face {
  font-family: 'frente';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/app/assets/fonts/PatrickHandSC-Regular.ttf) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

// scss files
@import "de.variables.scss";
@import "de.classes.scss";
@import "de.animations.scss";

:root {
  --image-url: "https://images.thinkquotes.de";

  --colour-lila: #91819e;
  --colour-lila-100: #7b6d86;
  --colour-lila-200: #6d6077;
  --colour-lila-300: #5a4e63;
  --colour-pink: #e74de2;
  --colour-red: #ffaaab;
  --colour-darkred: #a53e54;
  --colour-pink: #e74de2;
  --colour-dark: #1c313a;
  --colour-light: #ffe9d8;
  --colour-grey: #8a96a0;
  --colour-green: #419e15;
  --colour-bluegrey: #729baf;

  --colour-dark-100: #344a53;
  --colour-dark-200: #50656d;
  --colour-dark-300: #6c7c83;
  --colour-dark-400: #6c7c83;
  --colour-dark-500: #93a1a7;
  --colour-dark-600: #bfc9ce;

  --colour-orange: #c17809;
  --colour-orange-100: #ffa10b;
  --colour-orange-200: #ffb43c;
  --colour-orange-300: #ffcb77;
  --colour-orange-400: #ffe5bb;

  --colour-blue: #1976d2;
  --colour-blue-100: #2687e9;
  --colour-blue-200: #47a1fa;

  --colour-yellow: #fff59d;
  --colour-yellow-100: #fff176;
  --colour-yellow-200: #ffee58;
  --colour-yellow-300: #ffeb3b;
  --colour-yellow-400: #fdd835;
  --colour-yellow-500: #fbc02d;
  --colour-yellow-600: #f9a825;

  --masonry-spacer-index: 1rem;
  --masonry-coloumns-index: 3;
}

.isDark {
  color: var(--colour-light);
}

.isLight {
  color: var(--colour-dark);
}

i {
  &.std {
    font-size: 1.6em;
  }

  &.small {
    font-size: 1.2em;
  }

  &.large {
    font-size: 3em;
  }
}

/* gen styles */
* {
  margin: 0;
  padding: 0;
  list-style: none;
  outline: 0;
  font-family: inherit;
  font-style: inherit;
  -webkit-user-drag: none;
  -webkit-touch-callout: none;

  @extend .tran-all;
}

html {
  background-color: var(--colour-lila-300);
  font-size: 100%;
}

body {
  font-family: "Baloo Chettan 2", cursive;
  letter-spacing: -0.01em;
  font-weight: 500;
  font-size: 1em;
  -webkit-font-smoothing: antialiased;
  line-height: 24px;
  color: #000;
  height: 100%;
  min-height: 320px;
  min-width: 280px;
  background: transparent;
}

// basic layout
app {
  display: block;
  font-size: 1em;
}

#main {
  padding: 0px 24px 48px;
  background: transparent;
  border: 0;
  margin: 0 auto;
  width: 100%;
  max-width: $main-main-width;
}

.toggleBody {
  overflow: hidden;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a,
a:hover,
a:active,
a:focus {
  text-decoration: none;
  border: 0;
  outline: 0;
}

style,
script {
  display: none;
}

// friendrequests
.friendrequests-outer {
  .fr-inr {
    position: relative;
    border-radius: 12px;
    padding: 12px 24px;
    opacity: 1;
    visibility: visible;

    @extend .tran-all-cubic;

    &.hidden {
      opacity: 0;
      visibility: hidden;
      overflow: hidden;
      padding: 0px 24px;
      margin: 0;
    }

    &:hover {
      background: rgba(0, 0, 0, 0.12);
    }

    &:last-of-type {
      margin-bottom: 0px;
    }

    .image-outer {
      float: left;
      position: relative;
      @extend .mr12;

      .actual {
        position: relative;
        line-height: 3em;
        height: 48px;
        width: 48px;
        border-radius: 50%;
        overflow: hidden;
        background: var(--colour-orange);
      }
    }

    .text-outer {
      line-height: 1.4;
      padding-top: 0.28em;
      @extend .isDark, .lt, .w68;

      .username {
        @extend .trimt;
      }

      .timestamp {
        @extend .trimt;
      }
    }

    .options {
      right: 1.8em;
      top: 1.28em;
      position: absolute;
    }
  }
}

[data-react="check:friends,request"] {
  .pulse {
    &::after {
      @extend .pulsating;
      content: "";
      display: block;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      opacity: 0.8;
      background: var(--colour-red);
      position: absolute;
      overflow: visible !important;
      border-radius: 50%;
      z-index: -1;
    }
  }
}

// general used grid
create-grid {
  display: block;
  margin: 0;
  padding: 0;
  width: 100%;

  .grid {
    --gap: 1em;
    --columns: var(--masonry-coloumns-index);
    width: 100%;
    display: column;
    columns: var(--columns);
    gap: var(--gap);
    position: relative;

    & > .grid--outer {
      break-inside: avoid;
      display: grid;
      position: relative;
      transition: all 0.1s linear;
    }
  }
}

@supports (grid-template-rows: masonry) {
  .grid {
    display: grid;
    grid-template-columns: repeat(var(--columns), 1fr);
    grid-template-rows: masonry;
    grid-auto-flow: dense;
  }
}

[data-structure="close-post-viewer"] {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
}

[data-structure="module:error,expand,text"] {
  z-index: 1010101011;
  display: none;

  .error-module--text {
    color: var(--colour-dark);
    font-size: 3em;
    line-height: 1;
  }
}

// dropdown on type
[data-react="function:type,search"] {
  visibility: hidden;
  height: 0px;
  opacity: 0;
  border-radius: 0 0 6px 6px;
  top: 3.1em;
  left: 0;
  background: white;
  transition: all 0.6s cubic-bezier(0.1, 0.82, 0.25, 1);
  overflow: hidden;
  z-index: 3;

  &.active {
    visibility: visible;
    opacity: 1;
  }

  .search-type--sizing > div {
    padding: 0 24px;
    background: transparent;
    transition: all 0.1s linear;
    cursor: pointer;
    line-height: 2em;

    &:hover {
      background: rgba(230, 129, 251, 0.24);
    }

    &:active {
      background: rgba(230, 129, 251, 0.48);
    }
  }
}

// the gud ol' hellfresh buttons
hellofresh {
  display: block;
  position: relative;
  margin: 0;
  border: 0;
  padding: 0;
  outline: none;
  transition: all 0.1s linear;
  height: 3em;
  overflow: hidden;

  // if the button has the attribute disabled
  &[disabled] {
    background: rgba(255, 255, 255, 0.28) !important;
    color: var(--colour-dark) !important;
  }

  // if the button is not diabled
  &:not(:disabled) {
    cursor: pointer;
  }

  // hover and focus mode
  &:hover,
  &:focus {
    outline: 0;
    text-decoration: none;
  }

  &:active {
    transform: scale(0.9);
  }

  &.rounded {
    @extend .rd12;
  }

  // ----------
  // a totally round button (just with an icon ofc)
  // ---------------
  &.circled {
    border-radius: 50%;

    &.small {
      height: 2em;
      width: 2em;
    }
  }

  &.icon-only {
    width: 3em;
    height: 3em;
    padding: 0;
    text-align: center;

    i {
      line-height: 1.8em;
    }
  }

  // ----------
  // light or dark modes of the buttons
  // ---------------
  &.light {
    color: var(--colour-dark);
  }

  &.dark {
    color: var(--colour-light);
  }

  // ----------
  // shadow behaviour
  // ---------------
  &.shadowed {
    @extend .mshd-1;
  }

  &.shadowed,
  &.hover-shadow {
    &:hover {
      @extend .mshd-2;
    }

    &:active {
      @extend .mshd-1;
    }
  }

  &.text-shadowed {
    text-shadow: 0 1px 1.6px rgba(0, 0, 0, 0.42);
  }

  &.text-shadowed-blured {
    text-shadow: 0 1px 6px rgba(0, 0, 0, 0.24);
  }

  // ----------
  // sizes
  // ---------------
  &.big {
    padding: 0 24px;
    line-height: 3em;
  }

  &.small {
    padding: 1px 12px;
  }

  &.wholebottom {
    position: relative;
    line-height: 2.8em;
    text-align: center;
    font-size: 1em;
    width: 100%;
    text-shadow: 0 2px 1px rgba(100, 108, 114, 0.42);

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      height: 100%;
      width: 100%;
      background-color: rgba(0, 0, 0, 0);
      transition: all 0.1s linear;
    }

    &:hover {
      &::before {
        background-color: rgba(0, 0, 0, 0.12);
      }
    }

    &:active {
      &::before {
        background-color: rgba(0, 0, 0, 0.24);
      }
    }
  }

  //

  &.light {
    background-color: var(--colour-light);
    color: var(--colour-dark);
  }

  &.green {
    background-color: var(--colour-green);
    color: white;
  }

  &.pink {
    background-color: var(--colour-pink);
    color: white;
  }

  &.red {
    background-color: var(--colour-red);
    color: white;
  }

  &.darkred {
    background-color: var(--colour-darkred);
    color: white;
  }

  &.blue {
    background-color: var(--colour-blue);
    color: white;
  }

  &.lila {
    background-color: var(--colour-lila);
    color: white;
  }

  &.grey {
    background-color: var(--colour-grey);
    color: white;
  }

  &.orange {
    background-color: var(--colour-orange);
    color: white;
  }

  // friendship system buttons
  &.friendrequest {
    &.addFriend {
      .icon i::before {
        display: block;
        content: "🤩";
      }

      .text::before {
        display: block;
        content: "Add friend";
      }
    }

    &.cancelRequest {
      .icon i::before {
        display: block;
        content: "🥲";
      }

      .text::before {
        display: block;
        content: "Cancel friendrequest";
      }
    }

    &.removeFriend {
      .icon i::before {
        display: block;
        content: "😭";
      }

      .text::before {
        display: block;
        content: "Remove friend";
      }
    }
  }
}

.c-ripple {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: transparent;
}

.c-ripple__circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  width: 0;
  height: 0;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.25);
}

.c-ripple.is-active .c-ripple__circle {
  animation: a-ripple 0.4s ease-in;
}

/* animated spinner */
.floating-spinner {
  position: fixed;
  z-index: 10000;
  top: 50%;
  left: 50%;
  margin-top: -40px;
  margin-left: -40px;
  visibility: visible;
  opacity: 1;
  transition: opacity 0.4s ease;
  -o-transition: opacity 0.4s ease;
  -ms-transition: opacity 0.4s ease;
  -moz-transition: opacity 0.4s ease;
  -webkit-transition: opacity 0.4s ease;
}

.nonfloating-spinner {
  position: relative;
  z-index: 10000;
  transition: opacity 0.4s ease;
}

.nonfloating-spinner .double-bounce1,
.floating-spinner .double-bounce1,
.double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #269485;
  opacity: 0.7;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: sk-bounce 2s infinite ease-in-out;
  animation: sk-bounce 2s infinite ease-in-out;
  -o-animation: sk-bounce 2s infinite ease-in-out;
  -ms-animation: sk-bounce 2s infinite ease-in-out;
  -moz-animation: sk-bounce 2s infinite ease-in-out;
}

.nonfloating-spinner .double-bounce2,
.floating-spinner .double-bounce2 {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
  -ms-animation-delay: -1s;
  -o-animation-delay: -1s;
  -moz-animation-delay: -1s;
}

.progressbar {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.4s ease;
  -o-transition: opacity 0.4s ease;
  -ms-transition: opacity 0.4s ease;
  -moz-transition: opacity 0.4s ease;
  -webkit-transition: opacity 0.4s ease;

  &.float {
    position: fixed;
    z-index: 10000;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.spinner {
  width: 6rem;
  height: 4rem;

  &.spinner5 {
    margin-top: 0;
    overflow: hidden;
    position: relative;
    height: 0.5rem;
    border-radius: 6px;
    background: rgba(231, 77, 226, 1);

    &::before {
      content: "";
      position: absolute;
      left: -130%;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.5);
      -webkit-animation: progress 1s linear infinite;
      animation: progress 1s linear infinite;
    }
  }
}

// settings
#settings-main {
  padding: 82px 24px 48px;
  background: transparent;
  border: 0;
  margin: 0 auto;
  width: 100%;
  max-width: 980px;

  .sm-label {
    font-size: 1.4em;
    color: var(--colour-light);

    .sm-label-inr {
      @extend .tac, .mb24, .pv24;

      p {
        @extend .mr8;

        &:first-of-type {
          opacity: 0.6;
        }

        &:last-of-type {
          margin: 0;
        }
      }
    }
  }

  .lt-cont {
    float: left;
    width: 24%;
  }

  .rt-cont {
    float: right;
    width: 72%;
  }

  .settings-menu-outer {
    @extend .posrel, .mt42;

    ul {
      width: 100%;

      li {
        line-height: 3em;
        padding: 0 32px;
        color: var(--colour-light);
        font-weight: 400;
        cursor: pointer;
        border: 1px solid transparent;
        transition: all 0.04s linear;

        &:hover {
          background: rgba(255, 255, 255, 0.02);
          border-color: rgba(255, 255, 255, 0.02);
        }

        @extend .posrel, .rd12, .mb12;

        &::before {
          content: "";
          display: block;
          height: 1em;
          background: rgba(255, 255, 255, 0.12);
          border-radius: 32px;
          width: 8px;
          left: 0.2em;
          transition: all 0.18s cubic-bezier(0.32, 0.33, 0.33, 0.87);
          @extend .align-mid-vert, .posabs;
        }

        &.isActive {
          font-weight: 700;
          background: rgba(255, 255, 255, 0.08);
          border-color: rgba(255, 255, 255, 0.08);
          animation: smJump 0.2s cubic-bezier(0.46, 0.45, 0.86, 0.41) forwards;

          &::before {
            height: 1.6em;
            background: var(--colour-red);
          }
        }
      }
    }
  }
}
