@charset "UTF-8";
@import "variables.scss";

.u-hdr {
  background: var(--colour-lila-200);
}

.u-hdr .u-hdr-inr {
  margin: 0 auto;
  padding: 48px 32px;
  width: 100%;
  max-width: $main-main-width - 48px;

  .user-action {
    p {
      font-family: "frente", sans-serif;
      font-size: 3.6em;
      text-shadow: 0 1px 1px rgba(0, 0, 0, 0.38);
      font-weight: 400;
      color: var(--colour-light);
    }
  }
}
