@charset "UTF-8";

/* import stuff */
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons+Round");
@import "de.variables.scss";
@import "de.classes.scss";
@import "de.animations.scss";

/* GOOGLE ICON SET */
.material-icons-round {
  line-height: 1;
  display: block;
}

:root {
  --image-url: "https://images.thinkquotes.de";

  --colour-lila: #91819e;
  --colour-pink: #e74de2;
  --colour-red: #ffaaab;
  --colour-darkred: #a53e54;
  --colour-pink: #e74de2;
  --colour-dark: #1c313a;
  --colour-light: #ffe9d8;
  --colour-grey: #8a96a0;
  --colour-green: #419e15;
  --colour-bluegrey: #729baf;

  --colour-dark-100: #344a53;
  --colour-dark-200: #50656d;
  --colour-dark-300: #6c7c83;
  --colour-dark-400: #6c7c83;
  --colour-dark-500: #93a1a7;
  --colour-dark-600: #bfc9ce;

  --colour-orange: #c17809;
  --colour-orange-100: #ffa10b;
  --colour-orange-200: #ffb43c;
  --colour-orange-300: #ffcb77;
  --colour-orange-400: #ffe5bb;

  --colour-blue: #1976d2;
  --colour-blue-100: #2687e9;
  --colour-blue-200: #47a1fa;

  --colour-yellow: #fff59d;
  --colour-yellow-100: #fff176;
  --colour-yellow-200: #ffee58;
  --colour-yellow-300: #ffeb3b;
  --colour-yellow-400: #fdd835;
  --colour-yellow-500: #fbc02d;
  --colour-yellow-600: #f9a825;

  --masonry-spacer-index: 1rem;
  --masonry-coloumns-index: 3;
}

.isDark {
  color: var(--colour-light);
}
.isLight {
  color: var(--colour-dark);
}

@media (max-width: 1170px) {
  :root {
    --masonry-coloumns-index: 2;
  }
}
@media (max-width: 800px) {
  :root {
    --masonry-coloumns-index: 1;
  }
}

/* gen styles */
* {
  margin: 0;
  padding: 0;
  list-style: none;
  outline: 0;
  font-family: inherit;
  font-style: inherit;
  -webkit-user-drag: none;
  -webkit-touch-callout: none;
}
html {
  background-color: var(--colour-lila);
  font-size: 100%;
}
body {
  font-family: "Roboto", sans-serif;
  letter-spacing: -0.01em;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  line-height: 24px;
  color: #000;
  height: 100%;
  min-height: 320px;
  min-width: 280px;
  background: transparent;
}

/* layout */
app {
  display: block;
  font-size: 1em;
}

#main {
  padding: 0px 24px 48px;
  background: transparent;
  border: 0;
  margin: 0 auto;
  width: 100%;
  max-width: $main-main-width;
}

.toggleBody {
  overflow: hidden;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a,
a:hover,
a:active,
a:focus {
  text-decoration: none;
  border: 0;
  outline: 0;
}

/* ELEMENTS */
content-card {
  display: block;
}

page-overlay {
  display: block;
  height: 0%;
  width: 0%;
  border-radius: 24px;
  z-index: 1000001;
  overflow: hidden;
  transition: all 0.75s cubic-bezier(0.1, 0.82, 0.25, 1);

  @extend .posabs;

  &.visible {
    border-radius: 0px;
    height: 100%;
    width: 100%;
    overflow: visible;
  }

  close-overlay {
    display: block;
    position: fixed;
    right: 32px;
    top: 32px;
    color: white;
    opacity: 0.6;
    cursor: pointer;

    @extend .tran-all-cubic;

    &:hover {
      opacity: 1;
    }
  }
}

page-overlay * {
  display: block;
}

.close {
  height: 42px;
  width: 42px;
  border-radius: 50%;
  background: transparent;
  transition: all 0.1s linear;
  cursor: pointer;

  &.dark {
    background: rgba(255, 255, 255, 0);

    span {
      color: var(--colour-light);
    }

    &:hover {
      background: rgba(255, 255, 255, 0.42);
    }

    &:active {
      background: rgba(255, 255, 255, 0.12);
    }
  }

  &.light {
    background: rgba(0, 0, 0, 0);

    span {
      color: var(--colour-dark);
    }

    &:hover {
      background: rgba(0, 0, 0, 0.42);
    }

    &:active {
      background: rgba(0, 0, 0, 0.12);
    }
  }
}

// friendrequests
.friendrequests-outer {
  .fr-inr {
    position: relative;
    border-radius: 12px;
    padding: 12px 24px;
    opacity: 1;
    visibility: visible;

    @extend .tran-all-cubic;

    &.hidden {
      opacity: 0;
      visibility: hidden;
      overflow: hidden;
      padding: 0px 24px;
      margin: 0;
    }

    &:hover {
      background: rgba(0, 0, 0, 0.12);
    }

    &:last-of-type {
      margin-bottom: 0px;
    }

    .image-outer {
      float: left;
      position: relative;
      @extend .mr12;

      .actual {
        position: relative;
        line-height: 3em;
        height: 48px;
        width: 48px;
        border-radius: 50%;
        overflow: hidden;
        background: var(--colour-orange);
      }
    }

    .text-outer {
      line-height: 1.4;
      padding-top: 0.28em;
      @extend .isDark, .lt, .w68;

      .username {
        @extend .trimt;
      }

      .timestamp {
        @extend .trimt;
      }
    }

    .options {
      right: 1.8em;
      top: 1.28em;
      position: absolute;
    }
  }
}

[data-react="check:friends,request"] {
  .pulse {
    &::after {
      @extend .pulsating;
      content: "";
      display: block;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      opacity: 0.8;
      background: var(--colour-red);
      position: absolute;
      overflow: visible !important;
      border-radius: 50%;
      z-index: -1;
    }
  }
}

// general used grid
create-grid {
  display: block;
  margin: 0;
  padding: 0;
  width: 100%;

  .grid {
    --gap: 1em;
    --columns: var(--masonry-coloumns-index);
    width: 100%;
    display: column;
    columns: var(--columns);
    gap: var(--gap);
    position: relative;

    & > .grid--outer {
      break-inside: avoid;
      display: grid;
      position: relative;
      transition: all 0.1s linear;
    }
  }
}

@supports (grid-template-rows: masonry) {
  .grid {
    display: grid;
    grid-template-columns: repeat(var(--columns), 1fr);
    grid-template-rows: masonry;
    grid-auto-flow: dense;
  }
}

/* essentials */
[data-structure="close-post-viewer"] {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
}

[data-structure="module:error,expand,text"] {
  z-index: 1010101011;
  display: none;
}
[data-structure="module:error,expand,text"] .error-module--text {
  color: var(--colour-dark);
  font-size: 3em;
  line-height: 1;
}

// dropdown on type
[data-react="function:type,search"] .search-type--sizing > div {
  padding: 0 24px;
  background: transparent;
  transition: all 0.1s linear;
  cursor: pointer;
  line-height: 2em;
}

[data-react="function:type,search"] .search-type--sizing > div:hover {
  background: rgba(230, 129, 251, 0.24);
}

[data-react="function:type,search"] .search-type--sizing > div:active {
  background: rgba(230, 129, 251, 0.48);
}

[data-react="function:type,search"] {
  visibility: hidden;
  height: 0px;
  opacity: 0;
  border-radius: 0 0 6px 6px;
  top: 3.1em;
  left: 0;
  background: white;
  transition: all 0.6s cubic-bezier(0.1, 0.82, 0.25, 1);
  overflow: hidden;
  z-index: 3;
}

[data-react="function:type,search"].active {
  visibility: visible;
  opacity: 1;
}

/* buttons */
hellofresh {
  display: block;
  position: relative;
  margin: 0;
  border: 0;
  padding: 0;
  outline: none;
  transition: all 0.1s linear;
}
hellofresh[disabled] {
  background: rgba(255, 255, 255, 0.28) !important;
  color: var(--colour-dark) !important;
}
hellofresh:hover,
hellofresh:focus {
  outline: 0;
  text-decoration: none;
}
hellofresh:not(:disabled) {
  cursor: pointer;
}

hellofresh.circled {
  border-radius: 50%;

  &.small {
    height: 32px;
    width: 32px;
  }
}

hellofresh.light {
  color: var(--colour-dark);
}
hellofresh.dark {
  color: var(--colour-light);
}
hellofresh.text-shadowed {
  text-shadow: 0 1px 1.6px rgba(0, 0, 0, 0.42);
}
hellofresh.text-shadowed-blured {
  text-shadow: 0 1px 6px rgba(0, 0, 0, 0.24);
}
hellofresh.big {
  padding: 0 24px;
  line-height: 3em;
}
hellofresh.small {
  padding: 1px 12px;
}
hellofresh.icon-only {
  width: 48px;
  height: 48px;
  padding: 0;
  text-align: center;
}
hellofresh.wholebottom {
  position: relative;
  line-height: 2.8em;
  text-align: center;
  font-size: 1em;
  width: 100%;
  text-shadow: 0 2px 1px rgba(100, 108, 114, 0.42);
}
hellofresh.wholebottom::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0);
  transition: all 0.1s linear;
}
hellofresh.wholebottom:hover::before {
  background-color: rgba(0, 0, 0, 0.12);
}
hellofresh.wholebottom:active::before {
  background-color: rgba(0, 0, 0, 0.24);
}
hellofresh.rounded {
  border-radius: 6px;
}
hellofresh.shadowed {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.3);
}
hellofresh.clean {
  box-shadow: 0;
}
hellofresh.light {
  background-color: var(--colour-light);
  color: var(--colour-dark);
}
hellofresh.green {
  background-color: var(--colour-green);
  color: white;
}
hellofresh.pink {
  background-color: var(--colour-pink);
  color: white;
}
hellofresh.red {
  background-color: var(--colour-red);
  color: white;
}
hellofresh.blue {
  background-color: var(--colour-blue);
  color: white;
}
hellofresh.darkred {
  background-color: var(--colour-darkred);
  color: white;
}
hellofresh.lila {
  background-color: var(--colour-lila);
  color: white;
}
hellofresh.grey {
  background-color: var(--colour-grey);
  color: white;
}
hellofresh.orange {
  background-color: var(--colour-orange);
  color: white;
}
hellofresh.shadowed:hover,
hellofresh.clean:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
hellofresh.shadowed:active,
hellofresh.clean:active {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.3);
}

.c-ripple {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: transparent;
}
.c-ripple__circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  width: 0;
  height: 0;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.25);
}
.c-ripple.is-active .c-ripple__circle {
  animation: a-ripple 0.4s ease-in;
}
@-webkit-keyframes a-ripple {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  100% {
    width: 200%;
    padding-bottom: 200%;
    opacity: 0;
  }
}
@keyframes a-ripple {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  100% {
    width: 200%;
    padding-bottom: 200%;
    opacity: 0;
  }
}

/* FIX LOOKING */
#bottom-girl {
  position: fixed;
  bottom: -4%;
  right: -2%;
  height: 30%;
  width: 20%;
}
#bottom-girl > div {
  position: absolute;
  background-color: transparent;
  background-size: cover;
  background-position: center;
}
#bottom-girl .girl {
  background-image: url(https://images.thinkquotes.de/global/bottomgirl.png);
  bottom: 0;
  height: 90%;
  width: 100%;
}
#bottom-girl .bee {
  background-image: url(https://images.thinkquotes.de/global/bee01.png);
  top: 20%;
  left: 20%;
  height: 10%;
  width: 10%;
}
#bottom-girl .lightstray {
  background-image: url(https://images.thinkquotes.de/global/lightstray.png);
  top: -4%;
  right: 14%;
  height: 20%;
  width: 60%;
}

/* animated spinner */
.floating-spinner {
  position: fixed;
  z-index: 10000;
  top: 50%;
  left: 50%;
  margin-top: -40px;
  margin-left: -40px;
  visibility: visible;
  opacity: 1;
  transition: opacity 0.4s ease;
  -o-transition: opacity 0.4s ease;
  -ms-transition: opacity 0.4s ease;
  -moz-transition: opacity 0.4s ease;
  -webkit-transition: opacity 0.4s ease;
}
.nonfloating-spinner {
  position: relative;
  z-index: 10000;
  transition: opacity 0.4s ease;
}
.nonfloating-spinner .double-bounce1,
.floating-spinner .double-bounce1,
.double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #269485;
  opacity: 0.7;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: sk-bounce 2s infinite ease-in-out;
  animation: sk-bounce 2s infinite ease-in-out;
  -o-animation: sk-bounce 2s infinite ease-in-out;
  -ms-animation: sk-bounce 2s infinite ease-in-out;
  -moz-animation: sk-bounce 2s infinite ease-in-out;
}
.nonfloating-spinner .double-bounce2,
.floating-spinner .double-bounce2 {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
  -ms-animation-delay: -1s;
  -o-animation-delay: -1s;
  -moz-animation-delay: -1s;
}

@-webkit-keyframes sk-bounce {
  0%,
  100% {
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    -moz-transform: scale(0);
    transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    -moz-transform: scale(0);
    transform: scale(0);
  }
}

@keyframes sk-bounce {
  0%,
  100% {
    transform: scale(0);
    -webkit-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    -moz-transform: scale(0);
  }
  50% {
    transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    -moz-transform: scale(1);
  }
}

.progressbar {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.4s ease;
  -o-transition: opacity 0.4s ease;
  -ms-transition: opacity 0.4s ease;
  -moz-transition: opacity 0.4s ease;
  -webkit-transition: opacity 0.4s ease;
}
.progressbar.float {
  position: fixed;
  z-index: 10000;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.spinner {
  width: 6rem;
  height: 4rem;
}

.spinner.spinner5 {
  margin-top: 0;
  overflow: hidden;
  position: relative;
  height: 0.5rem;
  border-radius: 6px;
  background: rgba(231, 77, 226, 1);
}

.spinner.spinner5::before {
  content: "";
  position: absolute;
  left: -130%;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  -webkit-animation: progress 1s linear infinite;
  animation: progress 1s linear infinite;
}

@-webkit-keyframes progress {
  0% {
    left: -130%;
    background: rgba(255, 255, 255, 0.5);
  }
  50% {
    left: 130%;
    background: rgba(255, 255, 255, 0.5);
  }
  51% {
    background: rgba(255, 255, 255, 0.75);
  }
  100% {
    background: rgba(255, 255, 255, 0.75);
  }
}

@keyframes progress {
  0% {
    left: -130%;
    background: rgba(255, 255, 255, 0.5);
  }
  50% {
    left: 130%;
    background: rgba(255, 255, 255, 0.5);
  }
  51% {
    background: rgba(255, 255, 255, 0.75);
  }
  100% {
    background: rgba(255, 255, 255, 0.75);
  }
}

.opacityPulse {
  -webkit-animation: opacityPulse 1s linear infinite;
  animation: opacityPulse 1s linear infinite;
}

@keyframes opacityPulse {
  0% {
    opacity: 0.2;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 0.2;
  }
}

// settings
#settings-main {
  padding: 82px 24px 48px;
  background: transparent;
  border: 0;
  margin: 0 auto;
  width: 100%;
  max-width: 980px;

  .sm-label {
    font-size: 1.4em;
    color: var(--colour-light);

    .sm-label-inr {
      @extend .tac, .mb24, .pv24;

      p {
        @extend .mr8;

        &:first-of-type {
          opacity: 0.6;
        }

        &:last-of-type {
          margin: 0;
        }
      }
    }
  }

  .lt-cont {
    float: left;
    width: 24%;
  }

  .rt-cont {
    float: right;
    width: 72%;
  }

  .settings-menu-outer {
    @extend .posrel, .mt42;

    ul {
      width: 100%;

      li {
        line-height: 3em;
        padding: 0 32px;
        color: var(--colour-light);
        font-weight: 400;
        cursor: pointer;
        border: 1px solid transparent;
        transition: all 0.04s linear;

        &:hover {
          background: rgba(255, 255, 255, 0.02);
          border-color: rgba(255, 255, 255, 0.02);
        }

        @extend .posrel, .rd12, .mb12;

        &::before {
          content: "";
          display: block;
          height: 1em;
          background: rgba(255, 255, 255, 0.12);
          border-radius: 32px;
          width: 8px;
          left: 0.2em;
          transition: all 0.18s cubic-bezier(0.32, 0.33, 0.33, 0.87);
          @extend .align-mid-vert, .posabs;
        }

        &.isActive {
          font-weight: 700;
          background: rgba(255, 255, 255, 0.08);
          border-color: rgba(255, 255, 255, 0.08);
          animation: smJump 0.2s cubic-bezier(0.46, 0.45, 0.86, 0.41) forwards;

          &::before {
            height: 1.6em;
            background: var(--colour-red);
          }
        }
      }
    }
  }
}

@keyframes smJump {
  0% {
    padding-left: 32px;
  }
  50% {
    padding-left: 38px;
  }
  100% {
    padding-left: 32px;
  }
}
