@charset "UTF-8";
@import "de.gen.scss";
@import "de.variables.scss";
@import "de.classes.scss";

#main.fullpage {
  .intern-head-tools {
    width: 100%;

    .right {
      width: calc(100% - 6em);
    }
  }
}

#intern-hdr {
  background: var(--colour-lila-200);
  top: 0;
  left: 0;
  position: fixed;
  z-index: -1;
  width: 100%;
  height: 22em;
  opacity: 1;
  margin-top: 0;

  @extend .tran-all-cubic;

  &.scrolled {
    top: -32px;
    opacity: 0;
    visibility: hidden;
  }

  p {
    color: var(--colour-light);
    font-size: 2em;
    font-weight: 400;
  }
}

.intern-head-tools {
  padding: 0 28px;
  width: 68%;
  @extend .tran-all;

  .right {
    width: calc(100% - 4em);
    float: left;
    padding: 0 0 0 0;
  }

  .title {
    color: var(--colour-light);
    font-size: 2em;
    line-height: 1.6em;
    font-weight: 400;
    @extend .text-shadow;
  }
}

.intern--outer {
  position: relative;
  margin-top: 0;

  .element {
    cursor: pointer;
    background: white;
    background-size: cover;
    width: calc(50% - 12px);
    border-radius: 3px;
    margin: 0 6px 12px 6px;
    position: relative;
    overflow: hidden;
    float: left;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    transition: all 0.1s linear;
    opacity: 0;
    visibility: hidden;

    &.disabled {
      @extend .dno;
    }

    &:hover {
      transform: scale(1.006);
      z-index: 1;
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    }

    .render {
      height: 100%;
      width: 300px;
      position: absolute;
      bottom: 0;
      left: -12px;
    }

    .ud-inr {
      position: relative;
      z-index: 1;
      padding: 0 42px;

      .inr-outer {
        line-height: 24px;
        padding: 100px 0 24px 0;
        width: calc(100%);
        float: right;
        color: white;
      }
    }

    img {
      visibility: hidden;
      height: 1px;
      width: 1px;
    }
  }

  .rt-content {
    width: 30%;
    float: right;
  }

  .lt-content {
    width: 68%;
    float: left;
  }

  .whole-line {
    width: 6px;
    height: calc(100% - 120px);
    margin-top: 24px;
    position: absolute;
    background: rgba(0, 0, 0, 0.12);
    left: 24px;
  }

  .section-label {
    margin: 0px 32px 24px;
    font-family: "frente", sans-serif;

    p {
      max-width: 1230px;
      color: var(--colour-light);
      font-size: 3em;
      font-weight: 400;
      text-shadow: 0 2px 2px rgba(0, 0, 0, 0.24);
    }
  }

  .normal-box {
    background: white;
    border-radius: 6px;
    @extend .posrel;

    margin-bottom: 164px;

    .label-box {
      padding: 24px 48px 38px;
      margin-bottom: -18px;
      background: var(--colour-light);
      @extend .rd6, .posrel, .mshd-2;

      p {
        color: var(--colour-dark);
        font-size: 1.4em;
        @extend .fw4;
      }

      .nice-render-outer {
        position: absolute;
        width: 300px;
        height: 220px;
        bottom: 0px;
        right: 32px;

        .nice-render {
          width: 100%;
          height: 100%;
          position: absolute;
        }
      }
    }

    .nb-inr {
      padding: 38px 48px;
      background: white;
      @extend .rd6, .mshd-2;

      strong {
        @extend .fw7;
      }

      a {
        color: var(--colour-red);
        @extend .tran-all;
        &:hover {
          opacity: 0.8;
        }
        &:active {
          opacity: 0.4;
        }
      }

      h2 {
        font-size: 1.6em;
        color: var(--colour-dark);
        @extend .mb12;
      }
      p {
        margin-bottom: 12px;
        &:last-of-type {
          margin-bottom: 0px;
        }
      }
      h3 {
        margin-top: 24px;
        margin-bottom: 8px;
      }

      .section {
        //background: rgba(166, 225, 255, 0.24);
        //border-left: 4px solid #709fff;
        @extend .posrel;
        padding-left: 32px;

        .line {
          position: absolute;
          top: 0;
          left: 0;
          background: #709fff;
          height: calc(100% - 0px);
          width: 6px;
          border-radius: 20px;
        }
      }

      .dot-outer {
        @extend .posrel;

        .dot {
          height: 32px;
          width: 32px;
          border-radius: 50%;
          border: 8px solid white;
          position: absolute;
          top: -5px;
          left: -45px;
          //transform: translateY(-50%);
          background: #709fff;
        }
      }
    }
  }

  .normal-box.small-margin {
    margin-bottom: 24px;
  }
}

// -----------------------
// intern updates page
// -----------------------
.intern--outer.updates {
  .lt-content {
    width: 100%;

    .whole-line.updates {
      background: var(--colour-red);
      z-index: -2;
      border-radius: 20px;
      left: 50%;
      margin-top: 0px;
      height: calc(100% - 48px);
      top: 24px;
    }

    update {
      position: relative;
      display: block;
      margin-top: -2em;

      &::after {
        clear: both;
      }

      &:first-of-type {
        margin-top: 120px;
      }

      .aligning {
        float: left;
        width: calc(50% - 32px);
        position: relative;

        .timestamp-small {
          display: none;
        }

        .timeline-dot {
          border-radius: 50%;
          background: var(--colour-light);
          border: 10px solid var(--colour-lila-300);
          position: absolute;
          right: -3.3em;
          height: 42px;
          width: 42px;
          top: calc(50% - 12px);

          @extend .align-mid-vert;
        }

        .timestamp {
          position: absolute;
          right: -21em;
          height: 62px;
          top: calc(50% - 16px);

          @extend .align-mid-vert;

          .timestamp-inr {
            padding: 12px 24px;

            .timestamp-text {
              float: left;

              .username {
                color: white;
              }
            }

            .dev-icon {
              margin-left: 24px;
              float: left;

              .image-outer {
                height: 48px;
                width: 48px;
                opacity: 0;
                visibility: hidden;
                @extend .posrel;

                .actual {
                  height: 100%;
                  width: 100%;
                  border-radius: 50%;
                  @extend .tran-all;

                  img {
                    visibility: hidden;
                    height: 1px;
                    width: 1px;
                  }
                }
              }
            }
          }
        }
      }

      &:nth-child(2n) {
        .aligning {
          float: right;

          .timeline-dot {
            left: -3.3em;
            right: auto;
          }

          .timestamp {
            right: auto;
            left: -21em;

            .timestamp-inr {
              .timestamp-text {
                float: right;
              }

              .dev-icon {
                float: right;
                margin-right: 24px;
                margin-left: 0px;
              }
            }
          }
        }
      }

      .normal-box {
        background: var(--colour-light);

        .nb-inr {
          background: transparent;
          padding: 0px;
          @extend .mshd-1;

          .update-text {
            background: white;
            padding: 32px 42px;
            @extend .mshd-1, .rd6, .posrel;

            .user-date {
              color: var(--colour-darkred);
              margin-bottom: 12px;
              font-weight: 700;
              border-left: 4px solid var(--colour-darkred);
              padding-left: 12px;
              display: none;
            }

            p {
              margin-top: 24px;

              &:first-of-type {
                margin-top: 0px;
              }
            }

            img {
              height: 2em;
              line-height: 0.8;
              margin-bottom: -10px;
            }
          }

          .images {
            padding: 12px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            .image-outer {
              height: 100px;
              width: 40%;
              position: relative;
              overflow: hidden;
              visibility: hidden;
              opacity: 0;
              margin: 4px;
              cursor: pointer;
              @extend .mshd-1, .rd6, .tran-all;

              &:hover {
                @extend .mshd-3;
                z-index: 1;
              }

              &:active {
                box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16),
                  0 3px 6px rgba(0, 0, 0, 0.23);
              }

              .image-inr {
                height: 100%;
                width: 100%;
                background-size: cover;

                img {
                  visibility: hidden;
                }
              }
            }
          }
        }
      }
    }
  }
}

// ---------------
// intern: dev team
// ---------------
create-grid {
  .grid {
    --gap: 1em;
    --columns: 3;
  }
}

// #issue: rank card resizes when text too long
.rank-card {
  max-width: 100%;

  @extend .rd12, .mshd-2;

  .rc-inr {
    padding: 48px;

    .top-section {
      width: 100%;

      .icon {
        @extend .lt;

        i {
          color: rgba(255, 255, 255, 0.48);
          font-weight: 700;
          font-size: 2em;
        }
      }

      .image-outer {
        height: 62px;
        width: 62px;
        top: -12px;
        right: -12px;

        @extend .rt, .posrel, .rd6, .ovhid, .mshd-1;

        .actual {
          height: 100%;
          width: 100%;
          background-position: center;
          background-size: cover;
        }
      }
    }

    .bottom-section {
      width: 100%;

      .username {
        color: white;
        font-size: 1.4em;
        font-weight: 300;
      }

      .rankname {
        color: rgba(255, 255, 255, 0.86);
        font-size: 0.8em;
        letter-spacing: 0.1em;
        font-weight: 700;
      }
    }
  }

  .social-media {
    background: rgba(255, 255, 255, 0.12);
    padding: 24px 32px;
    border-radius: 0 0 12px 12px;

    @extend .posrel;

    a {
      background: transparent;
      padding: 6px 12px;

      @extend .tran-all, .posrel, .disbl, .rd6;

      &:hover {
        background: rgba(0, 0, 0, 0.12);
      }
    }

    .a {
      & > p {
        color: white;

        &.icon {
          border-radius: 50%;
          height: 2.2em;
          width: 2.2em;

          @extend .mr12, .ovhid, .tac;
        }

        @extend .posrel, .lt;

        i {
          line-height: 1.4em;
        }
      }
    }
  }

  &.green {
    background: #104e5b;
  }
}

// intern: general
@media screen and (max-width: 1000px) {
  .intern-head-tools {
    width: 100%;
  }

  .intern--outer {
    .rt-content {
      width: 0px;
    }
    .lt-content {
      width: 100%;
    }
  }
}

// intern: index
@media screen and (max-width: 900px) {
  .intern--outer .element {
    width: calc(100%);
    margin: 0 0 12px 0;
  }

  .intern--outer .element .render {
    left: -12px;
  }
}

@media screen and (max-width: 500px) {
  .intern--outer .element {
    .render {
      width: 230px;
      position: absolute;
      bottom: 0;
      left: -3em;
    }

    .ud-inr {
      position: relative;
      z-index: 1;
      padding: 0 42px;

      .inr-outer {
        line-height: 1.4em;
        padding: 62px 0 12px 0;
        width: calc(100%);
        float: right;
        color: white;
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  .intern--outer.updates {
    .lt-content {
      update {
        margin-bottom: 12em;

        &:first-of-type {
          margin-top: 10em;

          .timeline-dot {
            display: none;
          }
        }

        :is(.aligning, .aligning:nth-child(2n)) {
          width: 100%;
          float: none;
          position: relative;

          .update-text {
            .user-date {
              display: block;
            }
          }

          .timeline-dot {
            top: -7em;
            left: 50%;
            transform: translate(-50%, 0);
          }

          .timestamp {
            display: none;
          }

          .timestamp-small {
            background: var(--colour-red);
            border-radius: 20px;
            position: absolute;
            left: 50%;
            top: -3.6em;
            transform: translateX(-50%);
            display: block;

            .timestamp-inr {
              padding: 0 24px;
              line-height: 2.6em;

              .timestamp-text {
                p {
                  color: var(--colour-light);
                }
              }
            }
          }
        }
      }
    }
  }
}

// intern: updates
@media screen and (max-width: 600px) {
  .intern--outer .normal-box {
    border-radius: 0px;

    .update-text {
      border-radius: 0px !important;
    }
  }
}
