@charset "UTF-8";
@import "de.variables.scss";
@import "de.classes.scss";

create-grid {
  .grid {
    & > quote {
      break-inside: avoid;
      display: grid;
      position: relative;
      transition: all 0.1s linear;
    }
  }
}

quote {
  .q-inr {
    padding: 24px 32px;
    background: white;
    border-radius: 12px;
    position: relative;
    z-index: 1;
    cursor: pointer;

    .q-text {
      color: var(--colour-dark);
    }
  }

  .quote--outer {
    background: var(--colour-light);
    position: relative;
    border-radius: 12px;

    @extend .tran-all;

    .q-top-tools {
      position: absolute;
      top: 12px;
      right: 12px;
      z-index: 2;

      .sizing {
        width: 2em;
        height: 2em;
        line-height: 2em;
        background: rgba(255, 255, 255, 0.72);
        cursor: pointer;
        visibility: hidden;
        opacity: 0;

        @extend .rd6, .tran-all, .tac;

        &:hover {
          background: rgba(255, 170, 171, 0.24);
        }
      }
    }
  }

  .tools {
    background: var(--colour-light);
    width: 100%;
    border-radius: 0 0 8px 8px;
    transition: all 0.4s cubic-bezier(0.1, 0.82, 0.25, 1);
    height: 3em;

    .uno {
      position: relative;
      margin-right: 12px;
      cursor: pointer;

      &:last-of-type {
        margin-right: 0;
      }

      &:hover {
        span {
          color: #4c4c4c;
        }
      }

      &.active {
        span {
          color: var(--colour-red);
        }
      }

      span {
        color: var(--colour-dark);
        transition: all 0.1s linear;
      }
    }

    .duo {
      margin-right: 12px;

      &:last-of-type {
        margin-right: 0;
      }

      .uno {
        margin-right: 4px;
      }

      .duo-text {
        line-height: 1.9;
        background: white;
        border-radius: 8px;
        padding: 0 8px;
        font-size: 0.8em;
      }
    }

    .to-profile {
      line-height: 1.4;
      border-radius: 4px;
      padding: 0 8px;
      color: var(--colour-dark);
      transition: all 0.1s linear;

      &:hover {
        background: rgba(230, 129, 152, 0.12);
      }

      &:active {
        background: rgba(230, 129, 152, 0.28);
      }
    }
  }

  &:hover {
    z-index: 2;

    .quote--outer {
      @extend .mshd-3;

      .q-top-tools {
        .sizing {
          visibility: visible;
          opacity: 1;
        }
      }
    }

    .tools {
      top: calc(100% - 12px);
    }
  }

  .q-categories {
    margin-top: 8px;
  }
}

quote .quote--outer .q-inr .edit-overlay {
  position: relative;
}

quote .quote--outer .q-inr .edit-overlay {
  position: relative;
}

quote .quote--outer .q-inr .edit-overlay textarea {
  resize: none;
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.24);
  transition: all 0.1s linear;
  color: var(--colour-dark);
  padding-bottom: 12px;
}

quote .quote--outer .q-inr .edit-overlay textarea:focus {
  border-bottom: 1px solid var(--colour-red);
}
