@charset "UTF-8";
@import "de.variables.scss";
@import "de.classes.scss";
@import "de.animations.scss";

@font-face {
  font-family: frente;
  src: url("/assets/design/fonts/frente-h1.regular.otf") format("opentype");
}

.signup-logo {
  line-height: 1;
  z-index: 2;
  margin: 42px auto 0;

  @extend .flcenter, .posrel;

  .logo-outer {
    font-size: 6em;
    color: #f2f1f6;
    text-shadow: 0 2px 4px rgba(145, 129, 158, 0.12);
  }
}

.signup-container {
  line-height: 1;
  font-family: "frente", sans-serif;

  ::placeholder {
    font-family: "frente", sans-serif;
    color: rgba(255, 255, 255, 0.44);
    text-align: center;
  }
  ::-webkit-input-placeholder {
    font-family: "frente", sans-serif;
    color: rgba(255, 255, 255, 0.44);
    text-align: center;
  }
  ::-moz-placeholder {
    font-family: "frente", sans-serif;
    color: rgba(255, 255, 255, 0.44);
    text-align: center;
  }
  :-ms-input-placeholder {
    font-family: "frente", sans-serif;
    color: rgba(255, 255, 255, 0.44);
    text-align: center;
  }
  :-moz-placeholder {
    font-family: "frente", sans-serif;
    color: rgba(255, 255, 255, 0.44);
    text-align: center;
  }

  @extend .flcenter, .alignmiddle, .posabs;

  .cover-image {
    height: 32em;
    width: 32em;
    border-radius: 50%;

    @extend .posrel, .slideUp;

    .breath {
      bottom: 12px;
      position: absolute;
      background: white;
      box-shadow: 0 2px 0 3px rgba(0, 0, 0, 0.12);
      padding: 12px 12px;
      opacity: 0;
      visibility: hidden;

      &.visible {
        opacity: 1;
        visibility: visible;
        bottom: 32px;
      }

      @extend .rd16, .align-mid-horiz, .tran-all-cubic;

      .in,
      .out {
        p {
          font-size: 2em;
          font-weight: 700;
          text-align: center;
        }
      }
    }

    .cover-pulse {
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      position: absolute;
      background: rgba(255, 255, 255, 0.42);
      border-radius: 50%;
      opacity: 0;
      z-index: -1;
    }

    .signup {
      position: absolute;
      bottom: -32px;
      width: calc(100% - 82px);
      background: white;
      box-shadow: 0 2px 0 3px rgba(0, 0, 0, 0.12);
      opacity: 0;
      visibility: hidden;

      &.visible {
        opacity: 1;
        visibility: visible;
        bottom: -12px;
      }

      @extend .rd16, .align-mid-horiz, .tran-all-cubic;

      .inr {
        padding: 12px 12px;

        .title {
          font-size: 2em;
          font-weight: 700;
          text-align: center;

          @extend .mb12;
        }

        .input {
          width: 100%;

          input {
            border: 0;
            background: var(--colour-red);
            opacity: 0.8;
            border-radius: 12px;
            width: 100%;
            color: #fff;
            padding: 0 24px;
            line-height: 2;
            font-size: 2em;
            text-align: center;

            @extend .tran-all;

            &:focus {
              opacity: 1;
            }
          }

          &.code {
            input {
              padding: 0 8px;
              width: calc(25% - 6px);
              margin: 0 6px;
            }
          }
        }
      }
    }
  }
}

.breathingText {
  animation: breathingText 6s linear infinite;
}

@keyframes breathingText {
  0% {
    font-size: 4em;
  }

  50% {
    font-size: 4.1em;
  }

  100% {
    font-size: 4em;
  }
}
