# [NC]: non case sensitive, cusTom, CuStOmm or just custom - doesn't matter then
# [L]: last rule a specific condition will match

Header set Access-Control-Allow-Origin "*"

<ifModule mod_rewrite.c>

	RewriteEngine on

	# Remove "includeSubDomains" if you don't want to enforce HSTS on all subdomains
	Header always set Strict-Transport-Security "max-age=31536000;includeSubDomains"

</ifModule>

# directory browsing
Options All -Indexes

# custom error pages
ErrorDocument 500 /404.php
ErrorDocument 401 /404.php
ErrorDocument 404 /404.php

# force https
RewriteCond %{HTTP_HOST} !^localhost [NC]
RewriteCond %{REMOTE_ADDR} !^127\.0\.0\.1$
RewriteCond %{HTTPS} !on
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI}

# force www.
RewriteCond %{HTTP_HOST} ^thinkquotes\.de [NC]
RewriteRule ^(.*)$ https://www.thinkquotes.de/$1 [R=301,NC,L]

# pretty urls
RewriteCond %{SCRIPT_FILENAME} !-d
RewriteRule ^([^.]+)$ $1.php [NC,L]

# remove trailing slashes
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} /(.*)/$
RewriteRule ^ /%1 [R=301,L]

# set root path
RewriteRule ^$ /app/templates/home/index.php [NC,L]

# set intern paths
RewriteRule ^intern/(.*) /app/templates/intern/$1 [NC,L]
RewriteRule ^intern(.*) /app/templates/intern/welcome.php [NC,L]

# set dynamic paths
RewriteRule ^do/(.*) /dynamics/$1 [NC,L]
RewriteRule ^template/(.*) /app/templates/$1 [NC,L]
RewriteRule ^m/maintenance(.*) /maintenance/index.php [NC,L]
RewriteRule ^u/([A-Za-z]+)/([0-9]+) profiles/index.php?page=$1&userid=$2 [NC,L]