.material-icons-round.md-0 {
  font-size: 0px;
}
.material-icons-round.md-2 {
  font-size: 2px;
}
.material-icons-round.md-4 {
  font-size: 4px;
}
.material-icons-round.md-6 {
  font-size: 6px;
}
.material-icons-round.md-8 {
  font-size: 8px;
}
.material-icons-round.md-10 {
  font-size: 10px;
}
.material-icons-round.md-12 {
  font-size: 12px;
}
.material-icons-round.md-14 {
  font-size: 14px;
}
.material-icons-round.md-16 {
  font-size: 16px;
}
.material-icons-round.md-18 {
  font-size: 18px;
}
.material-icons-round.md-20 {
  font-size: 20px;
}
.material-icons-round.md-22 {
  font-size: 22px;
}
.material-icons-round.md-24 {
  font-size: 24px;
}
.material-icons-round.md-26 {
  font-size: 26px;
}
.material-icons-round.md-28 {
  font-size: 28px;
}
.material-icons-round.md-30 {
  font-size: 30px;
}
.material-icons-round.md-32 {
  font-size: 32px;
}
.material-icons-round.md-34 {
  font-size: 34px;
}
.material-icons-round.md-36 {
  font-size: 36px;
}
.material-icons-round.md-38 {
  font-size: 38px;
}
.material-icons-round.md-40 {
  font-size: 40px;
}
.material-icons-round.md-42 {
  font-size: 42px;
}
.material-icons-round.md-44 {
  font-size: 44px;
}
.material-icons-round.md-46 {
  font-size: 46px;
}
.material-icons-round.md-48 {
  font-size: 48px;
}
.material-icons-round.md-50 {
  font-size: 50px;
}
.material-icons-round.md-52 {
  font-size: 52px;
}
.material-icons-round.md-54 {
  font-size: 54px;
}
.material-icons-round.md-56 {
  font-size: 56px;
}
.material-icons-round.md-58 {
  font-size: 58px;
}
.material-icons-round.md-60 {
  font-size: 60px;
}
.material-icons-round.md-62 {
  font-size: 62px;
}
.material-icons-round.md-64 {
  font-size: 64px;
}
.material-icons-round.md-66 {
  font-size: 66px;
}
.material-icons-round.md-68 {
  font-size: 68px;
}
.material-icons-round.md-70 {
  font-size: 70px;
}
.material-icons-round.md-72 {
  font-size: 72px;
}
.material-icons-round.md-74 {
  font-size: 74px;
}
.material-icons-round.md-76 {
  font-size: 76px;
}
.material-icons-round.md-78 {
  font-size: 78px;
}
.material-icons-round.md-80 {
  font-size: 80px;
}
.material-icons-round.md-82 {
  font-size: 82px;
}
.material-icons-round.md-84 {
  font-size: 84px;
}
.material-icons-round.md-86 {
  font-size: 86px;
}
.material-icons-round.md-88 {
  font-size: 88px;
}
.material-icons-round.md-90 {
  font-size: 90px;
}
.material-icons-round.md-92 {
  font-size: 92px;
}
.material-icons-round.md-94 {
  font-size: 94px;
}
.material-icons-round.md-96 {
  font-size: 96px;
}
.material-icons-round.md-98 {
  font-size: 98px;
}
.material-icons-round.md-100 {
  font-size: 100px;
}
.material-icons-round.md-102 {
  font-size: 102px;
}
.material-icons-round.md-104 {
  font-size: 104px;
}
.material-icons-round.md-106 {
  font-size: 106px;
}
.material-icons-round.md-108 {
  font-size: 108px;
}
.material-icons-round.md-110 {
  font-size: 110px;
}
.material-icons-round.md-112 {
  font-size: 112px;
}
.material-icons-round.md-114 {
  font-size: 114px;
}
.material-icons-round.md-116 {
  font-size: 116px;
}
.material-icons-round.md-118 {
  font-size: 118px;
}
.material-icons-round.md-120 {
  font-size: 120px;
}
.material-icons-round.md-122 {
  font-size: 122px;
}
.material-icons-round.md-124 {
  font-size: 124px;
}
.material-icons-round.md-126 {
  font-size: 126px;
}
.material-icons-round.md-128 {
  font-size: 128px;
}
.material-icons-round.md-130 {
  font-size: 130px;
}
.material-icons-round.md-132 {
  font-size: 132px;
}
.material-icons-round.md-134 {
  font-size: 134px;
}
.material-icons-round.md-136 {
  font-size: 136px;
}
.material-icons-round.md-138 {
  font-size: 138px;
}
.material-icons-round.md-140 {
  font-size: 140px;
}
.material-icons-round.md-142 {
  font-size: 142px;
}
.material-icons-round.md-144 {
  font-size: 144px;
}
.material-icons-round.md-146 {
  font-size: 146px;
}
.material-icons-round.md-148 {
  font-size: 148px;
}
.material-icons-round.md-150 {
  font-size: 150px;
}
.material-icons-round.md-152 {
  font-size: 152px;
}
.material-icons-round.md-154 {
  font-size: 154px;
}
.material-icons-round.md-156 {
  font-size: 156px;
}
.material-icons-round.md-158 {
  font-size: 158px;
}
.material-icons-round.md-160 {
  font-size: 160px;
}
.material-icons-round.md-162 {
  font-size: 162px;
}
.material-icons-round.md-164 {
  font-size: 164px;
}
.material-icons-round.md-166 {
  font-size: 166px;
}
.material-icons-round.md-168 {
  font-size: 168px;
}
.material-icons-round.md-170 {
  font-size: 170px;
}
.material-icons-round.md-172 {
  font-size: 172px;
}
.material-icons-round.md-174 {
  font-size: 174px;
}
.material-icons-round.md-176 {
  font-size: 176px;
}
.material-icons-round.md-178 {
  font-size: 178px;
}
.material-icons-round.md-180 {
  font-size: 180px;
}
.material-icons-round.md-182 {
  font-size: 182px;
}
.material-icons-round.md-184 {
  font-size: 184px;
}
.material-icons-round.md-186 {
  font-size: 186px;
}
.material-icons-round.md-188 {
  font-size: 188px;
}
.material-icons-round.md-190 {
  font-size: 190px;
}
.material-icons-round.md-192 {
  font-size: 192px;
}
.material-icons-round.md-194 {
  font-size: 194px;
}
.material-icons-round.md-196 {
  font-size: 196px;
}
.material-icons-round.md-198 {
  font-size: 198px;
}
.material-icons-round.md-200 {
  font-size: 200px;
}

.rd6 {
  border-radius: 6px;
}

.disflrow {
  display: flex;
  flex-direction: row;
}
.vsbltyhdn {
  visibility: hidden !important;
}
.grayline {
  border-bottom: 1px solid #e1e1e1;
  height: 1px;
}
.wrap {
  word-wrap: break-word;
}
.ovhid {
  overflow: hidden;
}
.veralmid {
  vertical-align: middle;
}
.trimt {
  text-overflow: ellipsis; /* IE, Safari (WebKit) */
  overflow: hidden; /* don't show excess chars */
  white-space: nowrap; /* force single line */
  width: 100%;
}

.nose {
  -webkit-user-drag: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.align-mid-vert {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.align-mid-horiz {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
.alignmiddle {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.showVisOpa {
  visibility: visible;
  opacity: 1;
}

.lt {
  float: left;
}
.rt {
  float: right;
}
.cl {
  clear: both;
}

.bgpink {
  background: #ad1457;
}

.bgorange {
  background: #ffb74d;
}

.bgyellow {
  background: #ffc107;
}

.bggreen {
  background: #388e3c;
}

.bgblue {
  background: #1976d2;
}

.bgpurple {
  background: #883997;
}

.bglight {
  background: var(--colour-light);
}

.w76 {
  width: 76%;
}

.w52 {
  width: 52%;
}

.w22 {
  width: 22%;
}

.w48 {
  width: 48%;
}

/* buttons */
hellofresh {
  display: block;
  position: relative;
  margin: 0;
  border: 0;
  padding: 0;
  outline: none;
  transition: all 0.1s linear;
  overflow: hidden;
}
hellofresh[disabled] {
  background: rgba(255, 255, 255, 0.28) !important;
  color: var(--colour-dark) !important;
}
hellofresh:hover,
hellofresh:focus {
  outline: 0;
  text-decoration: none;
}
hellofresh:not(:disabled) {
  cursor: pointer;
}

hellofresh.light {
  color: var(--colour-dark);
}
hellofresh.dark {
  color: var(--colour-light);
}
hellofresh.text-shadowed {
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.42);
}
hellofresh.big {
  padding: 0 24px;
  line-height: 3em;
}
hellofresh.small {
  padding: 1px 12px;
}
hellofresh.icon-only {
  width: 48px;
  height: 48px;
  padding: 0;
  overflow: hidden;
  text-align: center;
}
hellofresh.wholebottom {
  position: relative;
  line-height: 2.8em;
  text-align: center;
  font-size: 1em;
  width: 100%;
  text-shadow: 0 2px 1px rgba(100, 108, 114, 0.42);
}
hellofresh.wholebottom::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0);
  transition: all 0.1s linear;
}
hellofresh.wholebottom:hover::before {
  background-color: rgba(0, 0, 0, 0.12);
}
hellofresh.wholebottom:active::before {
  background-color: rgba(0, 0, 0, 0.24);
}
hellofresh.rounded {
  border-radius: 6px;
}
hellofresh.shadowed {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.3);
}
hellofresh.clean {
  box-shadow: 0;
}
hellofresh.light {
  background-color: var(--colour-light);
  color: var(--colour-dark);
}
hellofresh.green {
  background-color: var(--colour-green);
  color: white;
}
hellofresh.pink {
  background-color: var(--colour-pink);
  color: white;
}
hellofresh.red {
  background-color: var(--colour-red);
  color: white;
}
hellofresh.darkred {
  background-color: var(--colour-darkred);
  color: white;
}
hellofresh.lila {
  background-color: var(--colour-lila);
  color: white;
}
hellofresh.grey {
  background-color: var(--colour-grey);
  color: white;
}
hellofresh.orange {
  background-color: var(--colour-orange);
  color: white;
}
hellofresh.shadowed:hover,
hellofresh.clean:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
hellofresh.shadowed:active,
hellofresh.clean:active {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.3);
}

.c-ripple {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: transparent;
}
.c-ripple__circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  width: 0;
  height: 0;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.25);
}
.c-ripple.is-active .c-ripple__circle {
  animation: a-ripple 0.4s ease-in;
}
@-webkit-keyframes a-ripple {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  100% {
    width: 200%;
    padding-bottom: 200%;
    opacity: 0;
  }
}
@keyframes a-ripple {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  100% {
    width: 200%;
    padding-bottom: 200%;
    opacity: 0;
  }
}
